*{
    margin:0;
    padding:0;
}

/* HEADER SECTION */
.resp-header,.responsivemenu,#menu-item,#resp-contact{
    display: none;
}
.des-header{
    display: flex;
}
header{
    height:13%;
    z-index:10;
    transition: all 0.2s ease-in-out;
}
.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .submit-btn {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .submit-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .submit-btn:hover {
    color: rgb(0, 0, 0);
  }
  
  .submit-btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .submit-btn:active {
    top: 2px;
  }
.menu{
    font-size:16px;
    font-weight:600;
    margin-left:380px;
    color:white;
}
.menu-item>a{
    color:white;
   
}

@media(max-width:1138px){
    .des-header{
        display: none;
    }
    .resp-header{
        display: flex;
    }
    .menu{
        margin-left: 0px;
    }
    .btn41-43 {
        width:15%;
        height:80%;
        border:none;
    }
    .responsivemenu{
        /* display: block; */
        background-color:rgba(25, 21, 21, 0.196);
        backdrop-filter:blur(10px);
        min-height: 110vh;
        z-index:25;
    }
    .des-header{
        display:none;
    }
    .resp-img{
        width:160px;
    }
    .fa-xmark{
        right:10px;
        top:8px;
        cursor:pointer;
    }
    .menu-sec{
        background-color: #FBFAF5;
        color:black;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        width:90%;
        border-radius:20px;
        font-weight:100;
    }
    #menu-item{
        display:block;
    }
    .menu-item{
        font-size:23px;
    }
    .menu-item>a{
        color:black;
    }
    #resp-contact{
        display:block;
        background-color:rgb(255, 255, 255);
        border-radius:50%;
        right:10px;
        bottom:10px;
        padding:15px;
        cursor:pointer;
        z-index:10;
    }
}
/* PRELOADER */
#preloader{
    background: black;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    height:100%;
    z-index:20;
    opacity:1;
    position:fixed;
  }
#preloader>section{
    position:absolute;
    height:250px;
    width:300px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-repeat: no-repeat;
    background-position: center;
}
#pre-img{
    animation:zoomlight 1.5s ease-in-out infinite;
}
#pre-img>img{
    width:100%;
}

/* MAIN SECTION */
main{
    flex-direction: row;
}
.fa-bars{
    cursor:pointer;
   
}
.fa-bars:active{
    transform: translateY(-4px);
}
.main-leftcontent{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width:50%;
    padding-left:50px;
    padding-top: 50px;
    /* background-color: #171717; */
    color:white;
    text-align: left;
    z-index:4;
}
.main-rightcontent{
    padding-right:90px;
    padding-top: 50px;
    z-index:4;
}
.box-shadow-section{
    box-shadow: -10px 20px 120px pink;
    border-radius:20px;
    animation:shadowfade 2s ease-in-out infinite;
    transform: skew(-15deg);
    filter:grayscale(60%)
}
.box-shadow-section:hover{
    transition: all 0.3s ease-in-out;
    transform: skew(0deg);
}
.box-shadow-section:not(:hover){
    transition: all 0.3s ease-in-out;
}
@keyframes shadowfade{
    0%{
        box-shadow: -10px 20px 120px pink;
        filter:grayscale(60%)
    }
    50%{
        box-shadow: -20px 30px 120px rgb(255, 245, 192);
        filter:grayscale(0%) brightness(100%)
    }
    90%{
        box-shadow: -20px 30px 120px rgb(249, 249, 249);
        filter:grayscale(60%)
    }
}
.box-section{
    width:400px;
    height:400px;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px, 
     rgba(0, 0, 0, 0.17) 0px 12px 13px, 
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:20px;
    background:url('./../img/jesse-collins-JY1yE4KuE4w-unsplash.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.main-leftcontent>h1{
    font-size:64px;
    z-index:4;
}
.main-leftcontent>div>span{
    font-size:24px;
}
blockquote{
    line-height: 27px;
    font-size:16px;
    backdrop-filter:blur(3px);
    box-shadow:5px 15px 15px rgba(0, 0, 0, 0.342);
    text-transform: uppercase;
    border:1px solid transparent;
    border-radius:20px;
    font-weight:600;
    color:#fdfdfd;
    background-color: rgba(255, 255, 255, 0.203);
}
.wave{
    overflow-x: hidden;
    bottom:0px;
    z-index:1;
    width:100%;
    height:60%;
}
#service-btn{
    font-weight:bold;
}
.main-section{
    background-image:linear-gradient(to top right,#090c0ce1,#070a14a2),url('https://images.unsplash.com/photo-1522961832022-ccc489643b86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-attachment: fixed;
}
/* .main-rightcontent{
    min-height:100vh;
    background:linear-gradient(to top right,rgba(108, 107, 107, 0.436),rgba(16, 14, 14, 0.47),rgba(0, 0, 0, 0.395)),url('../img/jesse-collins-JY1yE4KuE4w-unsplash.jpg'); 
    background-repeat:no-repeat;
    background-size: cover;
    background-position:right;
    background-attachment: fixed;
    width:60%;
    height:50%;
} */
.soc-box>a{
    border-radius:16px;
    transition:all .1s linear;
    color:white;
}
.soc-box:hover{
    transform:translateY(-5px);
    transition:all 0.2s ease-in-out;
}
.soc-box:not(:hover){
    transform:translateY(0px);
    transition:all 0.2s ease-in-out;
}
.soc-box:nth-child(1)>a:hover{
    color:#d71c6d;
    transform:translateY(-5px);
}
.soc-box:nth-child(2)>a:hover{
    color:#0c61f5;
    transform:translateY(-5px);
}
.soc-box:nth-child(3)>a:hover{
    color:#ed1b1b;
    transform:translateY(-5px);
}

.glow {
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

@media(max-width:768px){
    main{
        flex-wrap: wrap;
        min-height: 80vh;
    }
    .wave{
        display: none;
    }
    .main-section{
        justify-content: center;
        gap:0px;
    }
    .main-leftcontent{
        width:100%;
        padding-left: 0px;
        text-align: center;
        background-image:linear-gradient(to top right,#090c0cab,#070a14),url('https://images.unsplash.com/photo-1522961832022-ccc489643b86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
        /* background:linear-gradient(to top right,rgba(108, 107, 107, 0.436),rgba(16, 14, 14, 0.639),rgba(0, 0, 0, 0.395)),url('../img/jesse-collins-JY1yE4KuE4w-unsplash.jpg');  */
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 80vh;
    }
    blockquote{
        width:100%;
        box-shadow:none;
        background-color: transparent;
        backdrop-filter:blur(0px);
        color:white;
        font-weight:100;
    }
    #service-btn{
       display: none;
    }
    .main-navfield{
        justify-content: center;
    }
    .main-leftcontent>h1{
        font-size:44px;
    }
    .main-leftcontent>div>span{
        font-size:24px;
    }
    blockquote{
        border-left:none
    }
    .main-rightcontent{
       display: none;
    }
}


/* ABOUT SECTION */
.about-section{
    background:linear-gradient(to bottom,black,#171717);
    overflow: hidden;
}
.tab-section{
    background-color: white;
    color:black;
}

.about-ques{
    min-height:100vh;
    z-index:10;
}
.aboutans-left>img{
    width:500px;
    z-index:7;
}
.aboutans-right{
    width:50%;
    z-index:1;
}
.aboutans-right>p{
    line-height:35px;
}
.nav-slide{
    background-color: #2e344e;
}
.stats-group{
    gap:45px;
}
.about-statssec{
    background:url('https://wallpaperaccess.com/full/2006615.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
}
.statsbox{
    background-color: #e6f50c;
    gap:20px;
    width:250px;
    padding:15px;
    border-radius: 23px;
    color:black;
    font-weight:bold;
}
.nav-link{
    color:yellow;
}
.coun{
    font-weight: bold;;
}
.tab-pane{
    color:white;
}
@media(max-width:767px){
    .about-section{
        min-height:70vh;
    }
    .aboutans-right{
        width:100%;
    }
    .aboutans-left>img{
        width:300px;
    }
    /* .about-para{
        text-align: center;
    } */
}

/* CHOOSE SECTION */
.choose-section{
    min-height:90vh;
    background-color: #171717;
}
.chooseimg{
    border-radius:20px;
    width:600px;
    height:400px;
}
.choose-ques{
    height:100%;
    width:100%;
    background-color: #171717;
    backdrop-filter:blur(10px);
    z-index:4;
}
.choose-ques>div{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
color:white;
}
.fa-door-open{
    cursor:pointer;
}

.step {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
  width: 80px;
  }
  .step span {
    top: -50px;
    left: 0px;
  }
  .step:active{
    transform:translateY(-2px);
  }
  .step::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #0460CC;
    border-radius: 50%;
    -webkit-animation-name: ripple;
            animation-name: ripple;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
  }
  
  @-webkit-keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.75, 0.75, 1);
    }
    to {
      opacity: 0;
      transform: scale3d(2, 2, 1);
    }
  }
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.75, 0.75, 1);
    }
    to {
      opacity: 0;
      transform: scale3d(2, 2, 1);
    }
  }
.chooseans-sec{
    flex-wrap: wrap;
    justify-content: center;
    display:none;
    padding-top:100px;
}
.chooseans-left{
    width:40%;
}
.chooseans-left>h1,.aboutans-left>h1{
    font-size:54px;
}
.chooseans-right{
    width:50%;
}
.feature-box{
    width:355px;
    height:270px;
    color:white;
}
.feature-box:hover{
    background-color: #e6f50c;
    color:black;
    transition: all 0.2s ease-in-out;
}
.feature-box>h4{
    color:#e6f50c;
}
.feature-box:hover h4{
    color:black;
}
#box2{
    margin-left:200px;
}


@media(max-width:1167px){
    .chooseans-left{
        width:100%;
        padding:30px;
    }
    .carousel {
        margin-left:30px;
        width:600px;
        padding:10px;
    }
    .chooseans-right{
        width: 100%;
    }
    .choose-item{
        height:300px;
    }
    .slide-item{
        top:0px;
        position:relative;
        padding:50px;

    }
    .slide-item>p{
        line-height:25px;
        text-align:justify;
    }
    .fa-chevron-left,.fa-chevron-right{
        margin-top:1rem;
        
    }
    .fa-chevron-right{
        margin-right:-2rem;
    }
    #box2{
        margin-left:0px;
    }
    .feature-box{
        width:90%;
    }
}
@media(max-width:1224px){
    .chooseans-right{
        display:flex;
        justify-content: center;
        align-items:center;
    }
}
@media(max-width:567px){
    .chooseimg{
        border-radius:20px;
        width:400px;
        height:300px;
        background-attachment: fixed;
    }
    .carousel {
        margin-left:30px;
        width:400px;
        padding:10px;
    }
}


/* SERVICE SECTION */
.services-ques{
    min-height:85vh;
    width:100%;
    background-color: #171717;
    backdrop-filter:blur(10px);
    z-index:4;
}
.services-ques>div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.serviceans-sec{
    background-color: #171717;
}
.service-img{
    width:100%;
    height:100%;
    display:none;
}
#tab-content{
    display: none;
}
.nav-link{
    color:white;
}
.nav-link:hover #lightset{
    filter:drop-shadow(0 0 1em white);
    transform:scale(1.26);
    transition: all 0.2s ease-in-out;
}
.nav-pills .nav-link.active{
    background-color: #e6f50c;
    color:black;
}
.car-brands{
    display:none;
}
.car-items{
    animation:slide 30s ease-in-out infinite;
}
.car-item{
    width:400px;
}
.car-item>div>{
    width:300px;
}
.car-item>div>img{
    filter:grayscale(100%)
}
.car-item>div>img:hover{
    filter:grayscale(0%) drop-shadow(0 0 1.5em yellow);
    transition: all 0.2s linear;
}
.car-item>div>img:not(:hover){
    filter:grayscale(100%);
    transition: all 0.2s linear;
}


@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    90%{
        transform: translateX(-130%);
    }
}


@media(max-width:576px){

    .serviceans-sec{
        background-color: #171717;
    }
    .car-items{
        animation:slide 22s ease-in-out infinite;
    }
    @keyframes slide{
        0%{
            transform: translateX(0%);
        }
        90%{
            transform: translateX(-400%);
        }
    }
}

/* FOOTER-SECTION */
footer{
    z-index:5;
    background-color: black;
    position:relative;
}
.footer-locdesc{
    width:30%;
}
.footer-service{
    width:30%;
}

.footer-service>a{
    text-decoration: none;
    color:white;
}
.footer-service>a:hover{
    color:yellow
}
iframe{
    width:400px;
    height:300px;
}

@media(max-width:997px){
    .footer-locdesc,.footer-service{
        width:100%;
        margin-top:60px;
    }
}
@media (max-width:576px) {
    iframe{
        width:300px;
        margin-top:60px;
    }
}



/* CONTACT PAGE */
.contact-section{
    min-height:100vh;
    background-color: #171717;
    padding-top:0px;
}
.contact-form{
    min-height:100vh;
    padding-top:140px;
    padding-left:50px;
    padding-bottom:20px;
    color:#FBFAF5;
}
.contact-form-testimonal{
    width:50%;
    min-height:110vh;
    padding-top:200px;
    padding-left:30px;
    background: linear-gradient(to top right,rgba(4, 4, 4, 0.338),rgba(15, 13, 13, 0.361)), url('https://www.mercedes-benz.co.nz/passengercars/mercedes-benz-cars/models/c-class/coupe/explore/intelligent-drive-technologies/multibeam-led/_jcr_content/par/productinfotextimage/media2/slides/videoimageslide_3cfb/image.MQ6.12.20180725123802.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-sec{
    width:70%;
}
.form-floating{
    margin:30px 0px;
}
textarea,input{
    border-radius:10px;
    background-color: none;
    height:200px;
    box-shadow:10px 10px 0px#0e1fd6;
    filter:drop-shadow(0em 0em .2em rgba(255, 255, 255, 0.669));
}
textarea:focus,input:focus{
    filter:none
}
.review-name{
    right:50px;
    margin-top:20px;
}
.form-floating{
    color:black;
}
.submit-btn{
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .submit-btn {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .submit-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .submit-btn:hover {
    color: rgb(0, 0, 0);
  }
  
  .submit-btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .submit-btn:active {
    top: 2px;
  }
.testimonial-item{
    color:white;
    height:300px;
    font-size:30px;
    text-align:center;
    font-weight:500;
    line-height: 50px;
    backdrop-filter:blur(5px);
    background-color: rgba(255, 255, 255, 0.235);
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.swiper-pagination-bullet{
    background-color: #ffffff !important;
  }

.swiper-pagination-bullet-active {
    background-color: #e6f50c!important;
    margin-top:20px !important;
    height: 10px !important;
    width: 10px !important;
  }
@media (max-width:1298px){
    .contact-section{
        flex-wrap: wrap;
    }
    .contact-form,.contact-form-testimonal{
        width:100%;
    }
    input{
        width:50%;
    }
}
@media(max-width:968px){
    .review-name{
        font-size: 18px;
    }
    .testimonial-item{
        font-size:24px;
    }
    .testimonial-item{
        font-size:24px;
        width:100%;
    }
}


/* SERVICES PAGE */

.services-section{
    min-height:100vh;
    background-color: #171717;
    padding:140px 0px;
}
.services-item{
    position: relative;
    height:250px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:400px;
    background-color: #000000;
    border-radius:20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all .1s ease-in-out;
    cursor:pointer;
    animation:updown 10s ease-in;
    filter:grayscale(80%) brightness(70%);;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.services-item:hover{
    filter:grayscale(0%) brightness(100%);
    transform: scale(1.24);
}
.services-item:hover:before{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    transform: skew(40deg);
    left: -600px;
    animation: shine 1.2s  ease-in;
}
.service-title{
    font-size:45px;
}
.service-para{
    line-height:35px;
    font-size:18px;
}
.side-pad{
    padding:40px 20px;
}
.service-side-sec{
    width:40%;
}
.service-side-menu {
    overflow-y: scroll;
    height:600px;
    width:30%;
    padding:50px 20px;
    position: fixed;
}
@keyframes shine {
    0% {left: -100px}
    20% {left: 100%;}
    100% {left: 200%}
}
.service-side-menu::-webkit-scrollbar {
    width:5px;
    background-color: #0460CC;
  }
.service-side-menu::-webkit-scrollbar-thumb{
    width:10px;
    height:2px;
    background-color: #f5f4f4;
}
.services-item:hover{
    transform: scale(1.04)
}
.fa-chevron-right,.fa-chevron-left{
    top:90px;
    left:10px;
    z-index:11;
    border-radius:50%;
    background-color: white;
    padding:15px;
    visibility: hidden;
}
.button-toggler{
    width:100%;
}
.service-content-sec{
    width:50%;
    padding:20px;
}
#service-side-sec-mobview{
    display:none;
}
.service-content{
    gap:30px;
}
@media(max-width:567px){
    .services-box{
        width:350px;
        height:400px;
    }
    #service-side-sec-desview{
    display:none;
}
    .fa-chevron-right,.fa-chevron-left{
        display:block;
        visibility: visible;
    }
    .service-side-sec-container{
        background-color: #0460CC;
        width:500px;
    }
    .button-toggler{
        width:100%;
    }
    .service-side-sec{
        width:450px;
        display:none;
        height:100%;
        position: fixed;
        z-index:8;
        background-color: #000000;
        top:85px;
    }
    .service-content-sec{
        width:100%;
    }
    .service-side-menu{
        width: 400px;
        position: relative;
        height:600px;
    }
}
@media(max-width:400px){
    .services-item{
        width:280px;
        margin-left:20px;
    }
    .service-side-menu{
        width: 300px;
        position: relative;
        height:600px;
    }
    .service-side-sec{
        width:350px;
    }
}


/* PRODUCTS SECTION */

.products-section{
    min-height: 120vh;
    background-color: #171717;
    padding:140px 40px;
}
.products-section>h1{
    font-size: 54px;
}
.nav-item>button{
    width:300px;
    margin:10px;
    padding:20px;
}
.product-btns{
    right:0%;
    top:30%;
    z-index:4;
}
.nav-item>button:hover{
    color:white;
}
.btns-sections{
    height:450px;
    overflow-y: scroll;
    background-color: #e61111;
    border-radius:4px;
    display:none;
}
.btns-sections::-webkit-scrollbar{
    width:8px;
    background-color:#0460CC
}
.btns-sections::-webkit-scrollbar-thumb{
    background-color: #000000;
}
.products-sidebar-btn{
    transform:rotate(-90deg);
    margin-right:-50px;
    border-top-left-radius:14px;
    border-top-right-radius: 14px;
    width:150px;
    border:transparent;
}

@media(max-width:500px){
    .nav-item>button{
        width:200px;
    }
}